Flask==2.2.2
flask-swagger-ui==4.1.0
Flask-SQLAlchemy==2.5.1
flask-migrate==3.1.0
flask-cors==3.1.1
flask-dotenv==0.19.2
gunicorn==20.1.0         # Servidor WSGI para rodar o Flask em produção
streamlit==1.15.2       # Para o front-end (Streamlit)
requests==2.28.1        # Biblioteca para fazer requisições HTTP
python-dotenv==0.19.2   # Caso você esteja usando variáveis de ambiente com arquivo .env

